
.progressBarWrapper{
    color: var(--price-with-discount-color);
    display: flex;
    background:var(--breadcrumbs-background);
    width:100%;
    justify-content: space-evenly;
    padding-top: 15px;

    div.progressBar:first-child {
        flex-grow: 2;
    }
    div.progressBar:last-child {
        flex-grow: 2;
    }

       .step-number{
        border-radius: 50%;
        background-color: #dbdbdb;
        height: 30px;
        width: 30px;
        justify-content: center;
        align-items: center;
        color: #919191;
        display: flex;
        z-index: 10;
        transition: all 200ms ease-in;
       } 

    .step{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;

    }

    .step-completed{
        .step-number{
            background-color: var(--price-with-discount-color);
            color: #fff;
           } 
        color: #000;
    }
    
    .progressBar{
        background-color: var(--price-with-discount-color);
        height: 3px;
        flex-grow: 3;
        margin-top: 15px;
        transition: all 200ms ease-in;

    }

    .progressBar-completed{
        background-color: #dbdbdb;
    }

    p{
        white-space: nowrap;
        color: #dbdbdb;
    }

    .step-completed p{
        color: #000;
    }

    .step{
        width: 50px;
    }
}